<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  
 	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>post</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.UploadPost</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>multiposterupload</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.UploadMultiPoster</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resource</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.Resource</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>display</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.Display</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadImage</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.UploadImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imageResource</servlet-name>
		<servlet-class>com.gatech.faceme.mediastore.ImageResource</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>post</servlet-name>
		<url-pattern>/post</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>multiposterupload</servlet-name>
		<url-pattern>/multiposterupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resource</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>display</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadImage</servlet-name>
		<url-pattern>/uploadImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>imageResource</servlet-name>
		<url-pattern>/imageResource</url-pattern>
	</servlet-mapping>
	
	

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>upload</web-resource-name>
			<url-pattern>/upload</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>post</web-resource-name>
			<url-pattern>/post</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.gatech.faceme.endpoints.CharacterFaceEndpoint,com.gatech.faceme.endpoints.CommentEndpoint,com.gatech.faceme.endpoints.NewsEndpoint,com.gatech.faceme.endpoints.NonFacePosterEndpoint,com.gatech.faceme.endpoints.OriginalPosterEndpoint,com.gatech.faceme.endpoints.PairTableEndpoint,com.gatech.faceme.endpoints.PosterEndpoint,com.gatech.faceme.endpoints.UserEndpoint,com.gatech.faceme.endpoints.UserFaceEndpoint</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
  

</web-app>