<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faceme_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:name="com.example.faceme_android.GlobalState"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
"
        <activity
            android:name="com.example.faceme_android.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.faceme_android.backgroundservice.PairingService" >
            <intent-filter>
                <action android:name="com.example.faceme_android.backgroundservice.PairingService" >
                </action>

                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.faceme_android.MenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.faceme_android.MultiTabActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.faceme_android.CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.faceme_android.PictureViewActivity"
            android:label="@string/title_activity_picture_view" >
        </activity>
        <activity android:name="com.example.faceme_android.PictureViewActivityXiaoFei" >
        </activity>
        <activity android:name="com.example.faceme_android.PosterSelectionActivity" >
        </activity>
        <activity android:name="com.example.faceme_android.CharacterSelectionActivity" >
        </activity>
        <activity android:name="com.example.faceme_android.CharacterSelectionActivitySuperMan" >
        </activity>
        <activity android:name="com.example.faceme_android.CharacterSelectionActivityXiaofei" >
        </activity>
        <activity android:name="com.example.faceme_android.backgroundservice.PairingServiceActivity" >
        </activity>
        <activity
            android:name="com.example.faceme_android.CameraActivitySuperMan"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.faceme_android.RateAndCommentActivity"
            android:label="@string/title_activity_rate_and_comment" >
        </activity>
        <activity android:name="com.example.faceme_android.BrowseringActivity" >
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

</manifest>